<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/hack-video-fx-kurdish-stor.tk-9.1.15-1658632459/Hack%20VideoFx%20%28kurdish-stor.tk%29_9.1.15_1658632459.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://archive.org/download/fx_20220724/Fx.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>H</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>v1</string>
<key>title</key>
<string>VideoFX live Hack
Channel @ikurdish_store</string>
</dict>
</dict>
</array>
</dict>
</plist>
