<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://archive.org/download/hack-brawl-stars-44.223-1658781932/Hack%20Brawl%20Stars_44.223_1658781932.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://archive.org/download/stars_20220725/stars.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>H</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>v1</string>
<key>title</key>
<string>Brawl Stars Hack</string>
</dict>
</dict>
</array>
</dict>
</plist>
